.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;

}

.grid-item {
    background-color: orange;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 30px;
}